/.idea/dataSources/3282d7b7-1837-46f8-a322-4ecdf55ceed1.xml
/target/classes/pojos/Assignment.class
/.idea/dataSources.local.xml
/target/classes/pojos/GroupedAssignments.class
/.idea/dataSources/3282d7b7-1837-46f8-a322-4ecdf55ceed1/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/misc.xml
/.idea/dataSources/3282d7b7-1837-46f8-a322-4ecdf55ceed1/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/3282d7b7-1837-46f8-a322-4ecdf55ceed1/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/target/classes/pojos/Rating.class
/target/classes/presentation/RatingPresentation.class
/target/classes/service/RatingService.class
/.idea/sqldialects.xml
/target/classes/pojos/StudentRating.class
/target/classes/pojos/SubjectRating.class
/.idea/dataSources/3282d7b7-1837-46f8-a322-4ecdf55ceed1/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/uiDesigner.xml
/target/classes/persistence/assignment/AssignmentDao.class
/target/classes/persistence/assignment/AssignmentDaoHelper.class
/target/classes/persistence/DistributionsDao.class
/target/classes/persistence/MySQLConnectionHelper.class
